body {
    margin: 0;
    background-color: silver;
}
#hero {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.centerPage {
    width: 65vw;
    margin: auto;
    padding: 50px;
    background-color: white;
}
h2 {
    color: rgb(38, 65, 219);
}